.leftaside{
    display: block;
    position: fixed;
    top: 60px;

    width: 250px;
    height: 100vh;

    background: white;
    padding: 15px;
    border-right: 10px solid #888888;
    z-index: 999;
}

.leftaside li{
    height: 35px;
}

.topaside{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    z-index: 1000;
    background: white;
    border-bottom: 10px solid #888888;
}

.topaside button{
    width: 50px;
    height: 50px;
}

.page{
    position: fixed;
    top: 100px;
}